<div>
    <h2 id="page-heading">
        <span jhiTranslate="platformApp.dataFields.home.title">Data Fields</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-data-fields" [routerLink]="['/data-fields/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="platformApp.dataFields.home.createLabel">
            Create a new Data Fields
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="dataFields?.length === 0">
        <span jhiTranslate="platformApp.dataFields.home.notFound">No dataFields found</span>
    </div>
    <div class="table-responsive" *ngIf="dataFields?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fieldName"><span jhiTranslate="platformApp.dataFields.fieldName">Field Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fieldType"><span jhiTranslate="platformApp.dataFields.fieldType">Field Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="length"><span jhiTranslate="platformApp.dataFields.length">Length</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="scale"><span jhiTranslate="platformApp.dataFields.scale">Scale</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="allowNull"><span jhiTranslate="platformApp.dataFields.allowNull">Allow Null</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="primaryKey"><span jhiTranslate="platformApp.dataFields.primaryKey">Primary Key</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="remarks"><span jhiTranslate="platformApp.dataFields.remarks">Remarks</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="stop"><span jhiTranslate="platformApp.dataFields.stop">Stop</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createDate"><span jhiTranslate="platformApp.dataFields.createDate">Create Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="updateDate"><span jhiTranslate="platformApp.dataFields.updateDate">Update Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyDate"><span jhiTranslate="platformApp.dataFields.modifyDate">Modify Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dataCatalog.id"><span jhiTranslate="platformApp.dataFields.dataCatalog">Data Catalog</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dataFields of dataFields ;trackBy: trackId">
                <td><a [routerLink]="['/data-fields', dataFields.id, 'view' ]">{{dataFields.id}}</a></td>
                <td>{{dataFields.fieldName}}</td>
                <td>{{dataFields.fieldType}}</td>
                <td>{{dataFields.length}}</td>
                <td>{{dataFields.scale}}</td>
                <td>{{dataFields.allowNull}}</td>
                <td>{{dataFields.primaryKey}}</td>
                <td>{{dataFields.remarks}}</td>
                <td>{{dataFields.stop}}</td>
                <td>{{dataFields.createDate | date:'medium'}}</td>
                <td>{{dataFields.updateDate | date:'medium'}}</td>
                <td>{{dataFields.modifyDate | date:'medium'}}</td>
                <td>
                    <div *ngIf="dataFields.dataCatalog">
                        <a [routerLink]="['/data-catalog', dataFields.dataCatalog?.id, 'view' ]" >{{dataFields.dataCatalog?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/data-fields', dataFields.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/data-fields', dataFields.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/data-fields', { outlets: { popup: dataFields.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="dataFields?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
