<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-database-connection-heading" jhiTranslate="platformApp.databaseConnection.home.createOrEditLabel">Create or edit a Database Connection</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="platformApp.databaseConnection.connectionName" for="field_connectionName">Connection Name</label>
                    <input type="text" class="form-control" name="connectionName" id="field_connectionName"
                           formControlName="connectionName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="platformApp.databaseConnection.host" for="field_host">Host</label>
                    <input type="text" class="form-control" name="host" id="field_host"
                           formControlName="host"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="platformApp.databaseConnection.port" for="field_port">Port</label>
                    <input type="text" class="form-control" name="port" id="field_port"
                           formControlName="port"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="platformApp.databaseConnection.databaseName" for="field_databaseName">Database Name</label>
                    <input type="text" class="form-control" name="databaseName" id="field_databaseName"
                           formControlName="databaseName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="platformApp.databaseConnection.params" for="field_params">Params</label>
                    <input type="text" class="form-control" name="params" id="field_params"
                           formControlName="params"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="platformApp.databaseConnection.type" for="field_type">Type</label>
                    <input type="text" class="form-control" name="type" id="field_type"
                           formControlName="type"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="platformApp.databaseConnection.driver" for="field_driver">Driver</label>
                    <input type="text" class="form-control" name="driver" id="field_driver"
                           formControlName="driver"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="platformApp.databaseConnection.url" for="field_url">Url</label>
                    <input type="text" class="form-control" name="url" id="field_url"
                           formControlName="url"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="platformApp.databaseConnection.username" for="field_username">Username</label>
                    <input type="text" class="form-control" name="username" id="field_username"
                           formControlName="username"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="platformApp.databaseConnection.password" for="field_password">Password</label>
                    <input type="text" class="form-control" name="password" id="field_password"
                           formControlName="password"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="platformApp.databaseConnection.test" for="field_test">Test</label>
                    <input type="checkbox" class="form-control" name="test" id="field_test"
                           formControlName="test"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
