<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-role-heading" jhiTranslate="platformApp.role.home.createOrEditLabel">Create or edit a Role</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="platformApp.role.roleName" for="field_roleName">Role Name</label>
                    <input type="text" class="form-control" name="roleName" id="field_roleName"
                           formControlName="roleName"/>
                    <div *ngIf="editForm.get('roleName').invalid && (editForm.get('roleName').dirty || editForm.get('roleName').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('roleName').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('roleName').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 80 }">
                        This field cannot be longer than 80 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label jhiTranslate="platformApp.role.menu" for="field_menus">Menu</label>
                    <select class="form-control" id="field_menus" multiple name="menus" formControlName="menus">
                        <option [ngValue]="getSelected(editForm.get('menus').value, menuOption)" *ngFor="let menuOption of menus; trackBy: trackMenuById">{{menuOption.text}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
